In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as s
%matplotlib inline

In [23]:
##Get the data:
data = pd.read_csv('/Users/pauli/Desktop/Ironhack/Labs/Lab7/Untitled/files_for_lab/csv_files/marketing_customer_analysis.csv')

In [24]:
##Dealing with the data:

#Standarize the labels.
data.rename(columns={"EmploymentStatus": "employment_status"}, inplace=True)

def standard_col(x):
    cols = []
    for item in x:
        col = ""
        for letter in item:
            if letter == " ":
                letter = "_"
                col += letter
            else:
                col += letter
        cols.append(col.lower())
    return cols

data.columns = standard_col(data.columns)

display(data)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [25]:
def big_clean(df):

    # Clean NaN values & extra index column. Will replace all NaN by the mode in this case
    for column in df.columns:
        if (df[column].isna().sum() / df.shape[0]) > 0.5:
            df.drop(column, axis = 1, inplace = True)
        elif (df[column].isna().sum() > 0):
            if df[column].dtypes == object:
                df[column] = df[column].fillna(df[column].mode()[0])
            else:
                df[column] = df[column].fillna(np.mean(df[column]))
    
    return df.head(), df.isna().sum().sum()

big_clean(data)

(  customer       state  customer_lifetime_value response  coverage education  \
 0  BU79786  Washington              2763.519279       No     Basic  Bachelor
 1  QZ44356     Arizona              6979.535903       No  Extended  Bachelor
 2  AI49188      Nevada             12887.431650       No   Premium  Bachelor
 3  WW63253  California              7645.861827       No     Basic  Bachelor
 4  HB64268  Washington              2813.692575       No     Basic  Bachelor

   effective_to_date employment_status gender  income  ...  \
 0           2/24/11          Employed      F   56274  ...
 1           1/31/11        Unemployed      F       0  ...
 2           2/19/11          Employed      F   48767  ...
 3           1/20/11        Unemployed      M       0  ...
 4            2/3/11          Employed      M   43836  ...

   months_since_policy_inception number_of_open_complaints  number_of_policies  \
 0                             5                         0                   1
 1                            42                         0                   8
 2                            38                         0                   2
 3                            65                         0                   7
 4                            44                         0                   1

       policy_type        policy  renew_offer_type  sales_channel  \
 0  Corporate Auto  Corporate L3            Offer1          Agent
 1   Personal Auto   Personal L3            Offer3          Agent
 2   Personal Auto   Personal L3            Offer1          Agent
 3  Corporate Auto  Corporate L2            Offer1    Call Center
 4   Personal Auto   Personal L1            Offer1          Agent

   total_claim_amount  vehicle_class vehicle_size
 0         384.811147   Two-Door Car      Medsize
 1        1131.464935  Four-Door Car      Medsize
 2         566.472247   Two-Door Car      Medsize
 3         529.881344            SUV      Medsize
 4         138.130879  Four-Door Car      Medsize

 [5 rows x 24 columns],
 0)

In [26]:
#Find the columns that have NaN values:
data.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
dtype: int64

In [27]:
##Explore the data
numerical = data.select_dtypes(include = np.number)
display(numerical)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879
...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764
9130,3096.511217,21604,79,14,28,0,1,379.200000
9131,8163.890428,0,85,9,37,3,2,790.784983
9132,7524.442436,21941,96,34,3,0,3,691.200000
9133,2611.836866,0,77,3,90,0,1,369.600000

In [29]:
##Processing Data:

#X-y split
y = data['total_claim_amount']
X = data.drop(['total_claim_amount'], axis=1)
X_num = X.select_dtypes(include = np.number)

In [30]:
#Normalize (numerical)
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [31]:
#With min-max
transformer = MinMaxScaler()
transformer.fit(X_num)
x_normalized = transformer.transform(X_num)
display(x_normalized)
print(x_normalized.shape)
pd.DataFrame(x_normalized, columns=X_num.columns)

array([[0.01062925, 0.56284694, 0.03375527, ..., 0.05050505, 0.        ,
        0.        ],
       [0.06240565, 0.        , 0.13924051, ..., 0.42424242, 0.        ,
        0.875     ],
       [0.13495982, 0.48776267, 0.19831224, ..., 0.38383838, 0.        ,
        0.125     ],
       ...,
       [0.07695057, 0.        , 0.10126582, ..., 0.37373737, 0.6       ,
        0.125     ],
       [0.06909758, 0.2194517 , 0.14767932, ..., 0.03030303, 0.        ,
        0.25      ],
       [0.00876645, 0.        , 0.06751055, ..., 0.90909091, 0.        ,
        0.        ]])

(9134, 7)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,0.010629,0.562847,0.033755,0.914286,0.050505,0.0,0.000
1,0.062406,0.000000,0.139241,0.371429,0.424242,0.0,0.875
2,0.134960,0.487763,0.198312,0.514286,0.383838,0.0,0.125
3,0.070589,0.000000,0.189873,0.514286,0.656566,0.0,0.750
4,0.011245,0.438443,0.050633,0.342857,0.444444,0.0,0.000
...,...,...,...,...,...,...,...
9129,0.264137,0.719547,0.050633,0.514286,0.898990,0.0,0.125
9130,0.014719,0.216081,0.075949,0.400000,0.282828,0.0,0.000
9131,0.076951,0.000000,0.101266,0.257143,0.373737,0.6,0.125
9132,0.069098,0.219452,0.147679,0.971429,0.030303,0.0,0.250
9133,0.008766,0.000000,0.067511,0.085714,0.909091,0.0,0.000

In [32]:
# With mean = 0 and std = 1
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
print(x_standardized.shape)
pd.DataFrame(x_standardized, columns=X_num.columns)

(9134, 7)

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,-0.762878,0.612827,-0.703925,1.678099,-1.543287,-0.422250,-0.822648
1,-0.149245,-1.239617,0.022691,-0.208186,-0.217334,-0.422250,2.106160
2,0.710636,0.365710,0.429596,0.288205,-0.360680,-0.422250,-0.404247
3,-0.052263,-1.239617,0.371467,0.288205,0.606907,-0.422250,1.687759
4,-0.755575,0.203390,-0.587666,-0.307465,-0.145661,-0.422250,-0.822648
...,...,...,...,...,...,...,...
9129,2.241590,1.128558,-0.587666,0.288205,1.466984,-0.422250,-0.404247
9130,-0.714411,-0.528450,-0.413278,-0.108908,-0.719046,-0.422250,-0.822648
9131,0.023135,-1.239617,-0.238891,-0.605299,-0.396517,2.873245,-0.404247
9132,-0.069935,-0.517356,0.080820,1.876656,-1.614960,-0.422250,0.014154
9133,-0.784955,-1.239617,-0.471408,-1.200968,1.502821,-0.422250,-0.822648